<li id="food-item-{{food.id}}" class="dish">
  {% if food.main_image? %}
    <figure>
      {{ food.main_image | custom_image_url: "454x256#" | image_tag: 'class:dish__image' }}
    </figure>
  {% endif %}

  {% if food.featured_in_menu? %}
    <h5 class="dish__name dish__name--featured">{{ food.name }}</h5>
  {% else %}
    <h5 class="dish__name">{{ food.name }}</h5>
  {% endif %}

  {% unless menu.nil? %}
      {% if food.featured_in_menu? %}
        <i class="featured-dish">{{ | t }}</i>
      {% endif %}
  {% endunless %}
  <div class="dish__description">
    {% if food.tags? %}
      <div class="dish__description-label">
        {% for tag in food.tags %}
          <i class="tag tag--{{ tag.css_class }}">{{ tag.name }}</i>
        {% endfor %}
      </div>
    {% endif %}
    {% if food.summary? %}
      <div class="dish__description-summary">{{ food.summary }}</div>
    {% endif %}
  </div>
  {% if prices.size > 0 %}
    <div class="food-price">
      {% if prices.size > 1 or prices.first.title %}
          {% for price in prices %}
            <p class="food-price__label">{{ price.title }} : <span class="food-price__value">{{ price.amount | money }}</span></p>
          {% endfor %}
      {% else %}
        <span class="food-price__value">{{ prices.first.amount | money }}</span>
      {% endif %}
    </div>
  {% endif %}
</li>
