<section class="footer">

  <div class="contact-footer large--hide" itemprop="address" itemscope="" itemtype="http://schema.org/ PostalAddress">
    <h3 class="contact-footer__name">{{ current_tenant.name }}</h3>
    {% if current_tenant.street_address? %}
      <span class="contact-footer__street-address" itemprop="streetAddress">{{ current_tenant.street_address }}</span>
      <br />
    {% endif %}
    {% if current_tenant.zip_code? %}
      <span class="contact-footer__postal-code" itemprop="postalCode">{{ current_tenant.zip_code }}</span>
    {% endif %}
    {% if current_tenant.city? %}
      <span class="contact-footer__address-locality" itemprop="addressLocality">{{ current_tenant.city }}</span>
      <br />
    {% endif %}
    {% if current_tenant.phone? %}
      <a class="contact-footer__phone-link" href="tel:#{{current_tenant.phone_uri}}">
        <span class="contact-footer__phone" itemprop="telephone">{{ current_tenant.phone }}</span>
      </a>
      <br />
    {% endif %}
    {% if current_tenant.email %}
      <a class="contact-footer__mail-link" href="mailto:#{{current_tenant.email}}">
        <span class="contact-footer__mail" itemprop="email">{{ current_tenant.email }}</span>
      </a>
      <br />
    {% endif %}
  </div>
  
  <div class="newsletter-footer">
    {% if settings.footer_display_newsletter %}
      <div class="subscribe">
        <h3 class="subscribe__title">{{ "Abonnement Newsletter" | t }}</h3>
        <br />
        {% subscriberForm %}
          <input class="subscribe__email-subscriber" id="subscriber_email" name="subscriber[email]" placeholder=" Entrez votre  email" type="text">
          <button class="subscribe__submit-subscriber btn" name="button" type="submit">{{ "S'abonner" | t }}</button>
        {% endsubscriberForm %}
      </div>
    {% endif %} 
  </div>

    {% if current_tenant.social_urls? %}
      <div class="social-footer large--hide">
        <ul class="social-footer__networks">
          {% if current_tenant.facebook_url? %}
            <li class="social-footer__item">
              <a href="{{current_tenant.facebook_url}}" class="social-footer__facebook">
                <div class="facebook"></div>
              </a>
            </li>
          {% endif %}
          {% if current_tenant.twitter_url? %}
            <li class="social-footer__item">
              <a href="{{current_tenant.twitter_url}}" class="social-footer__twitter">
                <div class="twitter"></div>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    {% endif %}

  <a class="footer-link" href="{{ current_tenant.terms_of_use_url }}">
    <span class="contact-footer__mentions" itemprop="terms-of-use">{{ "Mentions légales" | t }}</span>
  </a>
</section>
