<div class="nav-large small--hide medium--hide">
  {% if restaurant.logo? %}
    <a href="{{ localized_root_path }}">
      <div class="nav-large__logo">{{ restaurant.logo_url | image_tag }}</div>
    </a>
  {% endif %}
  <a href="{{ localized_root_path }}">
    <h1 class="nav-large__name-resto">{{ restaurant.name }}</h1>
  </a>

  <ul class="nav-large__list">
    {% for link in linklists.navigation-primaire.links %}
      {% if link.linklist_handle == "" %}
        <li class="nav-large__item">
          <a class="nav-large__item-links" href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% else %}
        <li class="nav-large__item has-sub-nav">
          <a class="nav-large__item-links" href="{{ link.url }}">{{ link.title }} </a>
          <ul class="sub-nav__items">
            {% for l in linklists[link.linklist_handle].links %}
            <li class="sub-nav__item">
              <a class="sub-nav__link" href="{{ l.url }}">{{ l.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
    <li class="lang-switch nav-large__item">
      {% for path in localized_page_paths %}
        <a class="nav-large__item-links" href="{{ path.url }}">
          <img alt="Flag-{{ path.locale_code }}" src="{{ path.flag_url }}" />
          <span>{{ path.locale_name }}</span>
          <span style="float:none;"></span>
        </a>
      {% endfor %}
    </li>
  </ul>

  <div class="nav-large__coordinate">

    {% if restaurant.social_urls? %}
    <div class="social-nav">
      <ul class="social-nav__networks">
        {% if restaurant.facebook_url? %}
          <li class="social-nav__item">
            <a href="{{restaurant.facebook_url}}" class="social-nav__facebook">
              <div class="facebook"></div>
            </a>
          </li>
        {% endif %}
        {% if restaurant.twitter_url? %}
          <li class="social-nav__item">
            <a href="{{restaurant.twitter_url}}" class="social-nav__twitter">
              <div class="twitter"></div>
            </a>
          </li>
        {% endif %}
        {% if restaurant.tripadvisor_url? %}
          <li class="social-nav__item">
            <a href="{{restaurant.tripadvisor_url}}" class="social-nav__tripadvisor">
              <div class="tripadvisor"></div>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
  
    {% if restaurant.phone? %}
      <a class="nav-large__coordinate-number" href="tel:{{ restaurant.phone_uri }}">
          {{ restaurant.phone }}
      </a>
      </br>
    {% endif %}
    {% if restaurant.street_address? %}
      <span class="coordinate-address" itemprop="streetAddress">{{ restaurant.street_address }}</span>
      </br>
    {% endif %}
    {% if restaurant.zip_code? %}
      <span class="coordinate-address" itemprop="postalCode">{{ restaurant.zip_code }}</span>
    {% endif %}
    {% if restaurant.city? %}
      <span class="coordinate-address" itemprop="addressLocality">{{ restaurant.city }}</span>
    {% endif %}
  </div>
</div>

<div class="nav-small large--hide">
  {% if restaurant.logo? %}
    <a href="{{ localized_root_path }}">
      <div class="nav-small__logo">{{ restaurant.logo_url | image_tag }}</div>
    </a>
  {% endif %}
  <a href="{{ localized_root_path }}">
    <h1 class="nav-small__name-resto">{{ restaurant.name }}</h1>
  </a>

  <div class="nav-small__btn">
      <div></div>
      <div></div>
      <div></div>
  </div>

  <div class="sb-slidebar sb-right">
    <ul class="nav-small__list">
      {% for link in linklists.navigation-primaire.links %}
        {% if link.linklist_handle == "" %}
          <li class="nav-small__item">
            <a class="nav-small__item-links" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% else %}
        <li class="nav-small__item has-sub-nav">
          <a class="nav-small__item-links" href="{{ link.url }}">{{ link.title }} </a>
          <ul class="sub-nav__items">
            {% for l in linklists[link.linklist_handle].links %}
            <li class="sub-nav__item">
              <a class="sub-nav__link" href="{{ l.url }}">{{ l.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
      <li class="nav-small__item">
        {% for path in localized_page_paths %}
          <a class="nav-small__item-links" href="{{ path.url }}">
            <img alt="Flag-{{ path.locale_code }}" src="{{ path.flag_url }}" />
            <span>{{ path.locale_name }}</span>
            <span style="float:none;"></span>
          </a>
        {% endfor %}
      </li>
    </ul>

    <div class="nav-small__coordinate">
      {% if restaurant.phone? %}
        <a class="nav-small__coordinate-number" href="tel:{{ restaurant.phone_uri }}">
          {{ restaurant.phone }}
        </a>
        </br>
      {% endif %}
      {% if restaurant.street_address? %}
        <span class="nav-small__coordinate-address" itemprop="streetAddress">{{ restaurant.street_address }}</span>
        </br>
      {% endif %}
      {% if restaurant.zip_code? %}
        <span class="nav-small__coordinate-address" itemprop="postalCode">{{ restaurant.zip_code }}</span>
      {% endif %}
      {% if restaurant.city? %}
        <span class="nav-small__coordinate-address" itemprop="addressLocality">{{ restaurant.city }}</span>
      {% endif %}
    </div>
  </div>
</div>
