{% for menu in menus %}
<section class="page-header" id="menu-{{ menu.id }}">
  <header>
    <a href="{{ menu.url }}">
      <h2 class="content-title">{{ menu.name }}</h2>
    </a>
  </header>
  <ol class="menus-nav">
    {% for child in menu.children %}
      <li>
        {% if child.main_image? %}
          <figure>
            {{ child | small_image_url: 'main_image' | image_tag }}
          </figure>
        {% endif %}
        <h4 class="menu-item-title">
          <a href="{{ menu.url }}#menu-{{child.id}}">{{ child.name }}</a>
        </h4>
      </li>
    {% endfor %}
  </ol>
</section>
{% endfor %}