<section class="footer">
  <a class="back-to-top" href="#top">
    <div class="ico">
      <div class="arrow-up"></div>
    </div>
  </a>
  
  <div class="contact-footer large--hide" itemprop="address" itemscope="" itemtype="http://schema.org/ PostalAddress">
    <h3 class="contact-footer__name">{{ current_tenant.name }}</h3>
    {% if current_tenant.street_address? %}
      <span class="contact-footer__street-address" itemprop="streetAddress">{{ current_tenant.street_address }}</span>
      <br />
    {% endif %}
    {% if current_tenant.zip_code? %}
      <span class="contact-footer__postal-code" itemprop="postalCode">{{ current_tenant.zip_code }}</span>
    {% endif %}
    {% if current_tenant.city? %}
      <span class="contact-footer__address-locality" itemprop="addressLocality">{{ current_tenant.city }}</span>
      <br />
    {% endif %}
    {% if current_tenant.phone? %}
      <a class="contact-footer__phone-link" href="tel:#{{current_tenant.phone_uri}}">
        <span class="contact-footer__phone" itemprop="telephone">{{ current_tenant.phone }}</span>
      </a>
      <br />
    {% endif %}
    {% if current_tenant.email %}
      <a class="contact-footer__mail-link" href="mailto:#{{current_tenant.email}}">
        <span class="contact-footer__mail" itemprop="email">{{ current_tenant.email }}</span>
      </a>
      <br />
    {% endif %}
  </div>
  
  {% if settings.footer_display_newsletter %}
    <div class="subscribe">
      <h3>{{ "Abonnement Newsletter" | t }}</h3>
      <br />
      {% subscriberForm %}
        <input class="subscribe__email-subscriber" id="subscriber_email" name="subscriber[email]" placeholder="Entrez votre  email" type="text">
        <br />
        <button class="subscribe__submit-subscriber" name="button" type="submit">{{ "S'abonner" | t }}</button>
      {% endsubscriberForm %}
    </div>
  {% endif %}
  
  {% if current_tenant.social_urls? %}
    <div class="social-footer large--hide">
      <h3 class="social-footer__title">{{ "Suivez-nous" | t }}</h3>
      <ul class="social-footer__networks">
        {% if current_tenant.facebook_url? %}
          <li>
            <a href="{{current_tenant.facebook_url}}" class="social-footer__facebook">
              Facebook
            </a>
          </li>
        {% endif %}
        {% if current_tenant.twitter_url? %}
          <li>
            <a href="{{current_tenant.twitter_url}}" class="social-footer__twitter">
              Twitter
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
  <a class="footer-link" href="{{ current_tenant.terms_of_use_url }}">
    <span class="contact-footer__mentions" itemprop="terms-of-use">{{ "Mentions légales" | t }}</span>
  </a>
</section>
