<li id="food-item-{{food.id}}" class="dish">
  {% if food.main_image? %}
    <figure>
      {{ food | custom_image_url: "454x256#", "main_image" | image_tag: 'class:dish__image' }}
    </figure>
  {% endif %}
  <h5 class="dish__name">{{ food.name }}</h5>
  <div class="dish__description">
    {% if food.tags? %}
      <div class="dish__description-label">
        {% for tag in food.tags %}
          <i class="label-{{ tag.css_class }}">{{ tag.name }}</i>
        {% endfor %}
      </div>
    {% endif %}
    {% unless menu.nil? %}
      {% if food.featured_in_menu? %}
        <img src="/assets/full-visual-theme/images/toque.png" alt="toque" title="toque" class="featured-image" width="25" />
        <i class="featured-dish">{{ "Recommandé par le chef" | t }}</i>
      {% endif %}
    {% endunless %}
    {% if food.summary? %}
      <div class="dish__description-summary">{{ food.summary }}</div>
    {% endif %}
  </div>
  {% if prices %}
    <div class="food-price">
      {% if prices.size > 1 or prices.first.title %}
          {% for price in prices %}
            <p class="food-price__label">{{ price.title }} : <span class="food-price__value">{{ price.amount_with_decimals | currency }}</span></p>
          {% endfor %}
      {% else %}
        <span class="food-price__value">{{ prices.first.amount_with_decimals | currency }}</span>
      {% endif %}
    </div>
  {% endif %}
</li>