<div id="food-item-{{food.id}}" class="dish grid-item small--one-whole medium--one-half large--one-third">
  <h5 class="dish__name-dish">{{ food.name }}</h5>
  {% if food.main_image? %}
    <figure class="dish__image-dish">
      {{ food | custom_image_url: "260x180#", "main_image" | image_tag }}
    </figure>
  {% endif %}
  <div class="dish__description--dish">
    {% if food.tags? %}
      <div class="dish__description--label">
        {% for tag in food.tags %}
          <i class="label-{{ tag.css_class }}">{{ tag.name }}</i>
        {% endfor %}
      </div>
    {% endif %}
    {% unless menu.nil? %}
      {% if food.featured_in_menu? %}
        <div>{{ "Recommandé par le chef" | t }}</div>
      {% endif %}
    {% endunless %}
    {% if food.summary? %}
      <p>{{ food.summary }}</p>
    {% endif %}
  </div>
  {% if prices %}
    <div class="food-price">
      {% if prices.size > 1 or prices.first.title %}
        <dl>
          {% for price in prices %}
            <dt class="food-price__price-label">{{ price.title }} :</dt>
            <dd class="food-price__price-value">{{ price.amount_with_decimals | currency }} /</dd>
          {% endfor %}
        </dl>
      {% else %}
        <span class="food-price__price-value">{{ prices.first.amount_with_decimals | currency }}</span>
      {% endif %}
    </div>
  {% endif %}
</div>