<section class="menus-food" id="menu-{{menu.id}}">
  {% if title %}
    <header>
      {% if menu.featured %}
        <div class="menus-food__featured menus-food__title-{{menu.depth}}">
      {% else %}
        <div class="menus-food__title-{{menu.depth}}">
      {% endif %}
        <h{{ menu.depth | plus: 1 }}>
          <div class="content-menus-food__title-{{menu.depth}}">
            {{ menu.name }}
          </div>
        </h{{ menu.depth | plus: 1 }}>
      </div>
    </header>
  {% endif %}


  {% if menu.summary? %}
    <div class="content-menus-food__description content-menus-food__description-title-{{menu.depth}}">
      {{ menu.summary }}
    </div>
  {% endif %}
  {% if menu.foods? %}
    {% for food in menu.foods %}
      {% capture index %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
      {% if index == '0' %}
        <div class="row">
      {% endif %}
      {% assign_prices prices for food in menu %}
      {% include 'food' with food:food, menu:menu %}
      {% if index != '0' %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if menu.children? %}
    {% for child in menu.children %}
      {% include 'menu' with menu:child %}
    {% endfor %}
  {% endif %}
  {% if menu.depth == 1 %}
    <footer class="menu-footer">
      {% if menu.id != menu.self_and_siblings.last.id %}
        <a class="back-to-menu" href="#top">
          <div class="ico">
            <div class="back-to-menu-label hide-small">{{ "Haut de page" | t }}</div>
            <div class="arrow-up"></div>
          </div>
        </a>
      {% endif %}
    </footer>
  {% endif %}
</section>