<section class="menus-food" id="menu-{{menu.id}}">
  {% if title %}
    <header class="head-menu">
      {% if menu.featured %}
        <div class="menus-food__featured menus-food__title-{{menu.depth}}">
      {% else %}
        <div class="menus-food__title-{{menu.depth}}">
      {% endif %}
        <h{{ menu.depth | plus: 1 }} class="content-menus-food__title-{{menu.depth}}">
            {{ menu.name }}
        </h{{ menu.depth | plus: 1 }}>
      </div>
    </header>
  {% endif %}

  {% if menu.featured %}
  <img src="/assets/full-visual-theme/images/featured.png" alt="toque" title="toque" class="menu-featured-image" width="65" />
  {% endif %}

  {% if menu.summary? %}
    <h{{menu.depth}} class="content-menus-food__description content-menus-food__description-title-{{menu.depth}}">
      {{ menu.summary }}
    </h{{menu.depth}}>
  {% endif %}
  {% if menu.foods? %}

    {% if menu.featured %}
      <ul class="block-grid block-grid--featured">
    {% else %}
      <ul class="block-grid">
    {% endif %}
    {% for food in menu.foods %}
      {% assign_prices prices for food in menu %}
      {% include 'food' with food:food, menu:menu %}
    {% endfor %}
    </ul>
  {% endif %}
  {% if menu.children? %}
    {% for child in menu.children %}
      {% include 'menu' with menu:child %}
    {% endfor %}
  {% endif %}
  {% if menu.depth == 1 %}
    <footer class="menus-footer">
        <a class="back-to-menu" href="#top">
          <div class="ico">
            <div class="back-to-menu-label">{{ "Haut de page" | t }}</div>
          </div>
        </a>
        <hr class="separator-2">
    </footer>
  {% endif %}
</section>