<div class="menu-large small--hide medium--hide">
  {% if current_tenant.logo? %}
    <a href="{{ localized_root_path }}">
      <div class="menu-large__logo">{{ current_tenant.logo_url | image_tag }}</div>
    </a>
  {% endif %}
  <a href="{{ localized_root_path }}">
    <h1 class="menu-large__name-resto">{{ current_tenant.name }}</h1>
  </a>

  <ul class="menu-large__list">
    <li class="menu-large__item">
      <a class="menu-large__item-links" href="{{ localized_root_path }}" id="back-home">{{ "Accueil" | t }}</a>
    </li>
    {% for menu in menus %}
      <li class="menu-large__item">
        <a class="menu-large__item-links" href="{{ menu.url }}">{{ menu.name }}</a>
      </li>
    {% endfor %}
    <li class="menu-large__item">
      <a class="menu-large__item-links" href="{{ current_tenant.url }}">{{ "Le restaurant" | t }}</a>
    </li>
    {% if settings.display_contact_form %}
      <li class="menu-large__item">
        {% if message_settings.navigation_label? %}
          <a class="menu-large__item-links" href="{{ current_tenant.contact_path }}">{{ message_settings.navigation_label }}</a>
        {% else %}
          <a class="menu-large__item-links" href="{{ current_tenant.contact_path }}">{{ message_settings.contact_title }}</a>
        {% endif %}
      </li>
    {% endif %}
    <li class="lang-switch menu-large__item">
      {% for path in alternate_paths %}
        <a class="menu-large__item-links" href="{{ path.url }}">
          <img alt="Flag-{{ path.locale_code }}" src="{{ path.flag_url }}" />
          <span>{{ path.locale_name }}</span>
          <span style="float:none;"></span>
        </a>
      {% endfor %}
    </li>
  </ul>

  <div class="coordinate">
    {% if current_tenant.phone? %}
      <a class="coordinate__number" href="tel:{{ current_tenant.phone_uri }}">
          {{ current_tenant.phone }}
      </a>
      </br>
    {% endif %}
    {% if current_tenant.street_address? %}
      <span class="coordinate__address" itemprop="streetAddress">{{ current_tenant.street_address }}</span>
      </br>
    {% endif %}
    {% if current_tenant.zip_code? %}
      <span class="coordinate__address" itemprop="postalCode">{{ current_tenant.zip_code }}</span>
    {% endif %}
    {% if current_tenant.city? %}
      <span class="coordinate__address" itemprop="addressLocality">{{ current_tenant.city }}</span>
    {% endif %}
  </div>
</div>


<label for='toggle' onClick=''>
  <div class="icon-bar"></div>
  <div class="icon-bar"></div>
  <div class="icon-bar"></div>
</label>


<div class="menu-small large--hide">
  {% if current_tenant.logo? %}
    <a href="{{ localized_root_path }}">
      <div class="menu-small__logo">{{ current_tenant.logo_url | image_tag }}</div>
    </a>
  {% endif %}
  <a href="{{ localized_root_path }}">
    <h1 class="menu-small__name-resto">{{ current_tenant.name }}</h1>
  </a>

  <div class="menu-small__btn">
      <div></div>
      <div></div>
      <div></div>
  </div>

  <div class="sb-slidebar sb-right">
    <ul class="menu-small__list">
      <li class="menu-small__item">
        <a class="menu-small__item-links" href="{{ localized_root_path }}" id="back-home">{{ "Accueil" | t }}</a>
      </li>
      {% for menu in menus %}
        <li class="menu-small__item">
          <a class="menu-small__item-links" href="{{ menu.url }}">{{ menu.name }}</a>
        </li>
      {% endfor %}
      <li class="menu-small__item">
        <a class="menu-small__item-links" href="{{ current_tenant.url }}">{{ "Le restaurant" | t }}</a>
      </li>
      {% if settings.display_contact_form %}
        <li class="menu-small__item">
          {% if message_settings.navigation_label? %}
            <a class="menu-small__item-links" href="{{ current_tenant.contact_path }}">{{ <message_settings class="na"></message_settings>vigation_label }}</a>
          {% else %}
            <a class="menu-small__item-links" href="{{ current_tenant.contact_path }}">{{ <message_settings class=""></message_settings>contact_title }}</a>
          {% endif %}
        </li>
      {% endif %}
      <li class="menu-small__item">
        {% for path in alternate_paths %}
          <a class="menu-small__item-links" href="{{ path.url }}">
            <img alt="Flag-{{ path.locale_code }}" src="{{ path.flag_url }}" />
            <span>{{ path.locale_name }}</span>
            <span style="float:none;"></span>
          </a>
        {% endfor %}
      </li>
    </ul>

    <div class="coordinate">
      {% if current_tenant.phone? %}
        <a class="coordinate__number" href="tel:{{ current_tenant.phone_uri }}">
          {{ current_tenant.phone }}
        </a>
        </br>
      {% endif %}
      {% if current_tenant.street_address? %}
        <span class="coordinate__address" itemprop="streetAddress">{{ current_tenant.street_address }}</span>
        </br>
      {% endif %}
      {% if current_tenant.zip_code? %}
        <span class="coordinate__address" itemprop="postalCode">{{ current_tenant.zip_code }}</span>
      {% endif %}
      {% if current_tenant.city? %}
        <span class="coordinate__address" itemprop="addressLocality">{{ current_tenant.city }}</span>
      {% endif %}
    </div>
  </div>
</div>

<!--<input id="toggle" type='checkbox' aria-hidden='true' required='required' />-->