<div class="tabs-wrapper">
  <input checked="checked" class="tab-head" id="tab1" name="tab" type="radio">
  <label for="tab1">
    Couleurs
  </label>
  <input class="tab-head" id="tab2" name="tab" type="radio">
  <label for="tab2">
    Typographies
  </label>
  <input class="tab-head" id="tab3" name="tab" type="radio">
  <label for="tab3">
    Images
  </label>
  <input class="tab-head" id="tab4" name="tab" type="radio">
  <label for="tab4">
    Modules
  </label>
  <input class="tab-head" id="tab5" name="tab" type="radio">
  <label for="tab5">
    Titres
  </label>

  <div class="tab-body-wrapper">
    <div class="tab-body" id="tab-body-1">

      <fieldset>
        <legend>Couleur perso 1</legend>
        <div class="small-12 medium-6 large-4 columns">
          <input name="admin_theme_settings[perso-color-1]" type="text" id="perso-color-1" value="{{ theme_settings.perso-color-1 }}" class="minicolors">
        </div>
      </fieldset>

      <fieldset>
        <legend>Couleur perso 2</legend>
        <div class="small-12 medium-6 large-4 columns">
          <input name="admin_theme_settings[perso-color-2]" type="text" id="perso-color-2" value="{{ theme_settings.perso-color-2 }}" class="minicolors">
        </div>
      </fieldset>

      <fieldset>
        <legend>Couleur perso 3</legend>
        <div class="small-12 medium-6 large-4 columns">
          <input name="admin_theme_settings[perso-color-3]" type="text" id="perso-color-3" value="{{ theme_settings.perso-color-3 }}" class="minicolors">
        </div>
      </fieldset>

      <fieldset>
        <legend>Bordure navigation</legend>
        <div class="small-12 medium-6 large-4 columns">
          <input name="admin_theme_settings[border]" type="text" id="border" value="{{ theme_settings.border }}" class="minicolors">
        </div>
      </fieldset>

      <fieldset>
        <legend>Etiquettes</legend>
        <div class="row">
          {% for tag in tags %}
            <div class="columns medium-4 large-3">
              <label for="label-{{ tag.css_class }}-background">{{ tag.name }} (fond)</label>
              <input name="admin_theme_settings[tags][{{ tag.css_class }}-background]" id="label-{{ tag.css_class }}-background" value="{{ tag.background_value }}" type="text" class="minicolors">
            </div>
            {% if forloop.last %}
              <div class="columns medium-4 large-3 end">
            {% else %}
              <div class="columns medium-4 large-3">
            {% endif %}
              <label for="label-{{ tag.css_class }}-color">{{ tag.name }} (texte)</label>
              <input name="admin_theme_settings[tags][{{ tag.css_class }}-color]" id="label-{{ tag.css_class }}-color" value="{{ tag.color_value }}" type="text" class="minicolors">
            </div>
          {% endfor %}
        </div>
      </fieldset>

      <fieldset>
        <legend>Prix</legend>
        <div class="small-12 medium-6 large-4 columns">
          <input name="admin_theme_settings[back-price-value]" type="text" id="back-price-value" value="{{ theme_settings.back-price-value }}" class="minicolors">
        </div>
      </fieldset>
    </div>

    <div class="tab-body" id="tab-body-2">
      <fieldset>
        <legend>Polices</legend>
        <div class="row">
          <div class="columns">
            <p>Si vous utilisez une ou plusieurs polices du service Google Fonts, indiquez dans ce champ le code fourni par Google. Lorsque vous êtes à l'étape "Use" sur Google Fonts, le point "3. Add this code to your website:" affiche un tag &lt;link&gt;. Copiez tout le code et collez-le ici.</p>
            <label for="google-fonts-link">Google Fonts : tag &lt;link&gt;</label>
            <input type="text" id="google-fonts-link" name="admin_theme_settings[google-fonts-link]" value="{{ theme_settings.google-fonts-link | escape_once }}" placeholder="&lt;link href='http://fonts.googleapis.com/css?family=...">
          </div>
        </div>
        <div class="row">
          <div class="columns large-6">
            <label for="body-font">Corps de texte</label>
            <input type="text" id="body-font" name="admin_theme_settings[body-font]" value="{{ theme_settings.body-font }}">
            <span>Indiquez le nom de la police seulement, ou bien la font stack</span>
          </div>
          <div class="columns large-6">
            <label for="slogan-font">Slogan</label>
            <input type="text" id="slogan-font" name="admin_theme_settings[slogan-font]" value="{{ theme_settings.slogan-font }}">
            <span>Indiquez le nom de la police seulement, ou bien la font stack</span>
          </div>
        </div>
      </fieldset>
    </div>


    <div class="tab-body" id="tab-body-3">
      <fieldset>
        <legend>Page d'accueil</legend>
        <div class="small-12 medium-6 large-4 columns">
          <div class="small-12 medium-12 large-11">
            <label for="image-full-home">Image d'acceuil (jpg)</label>
          </div>

          <div class="small-12 medium-12 large-11">
            {% if theme_settings.use_full_home_image %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[use_full_home_image]" id="use_full_home_image" type="checkbox" value="{{ theme_settings.use_full_home_image }}" data-skin='black-green' checked/>
            {% else %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[use_full_home_image]" id="use_full_home_image" type="checkbox" value="{{ theme_settings.use_full_home_image }}" data-skin='black-green' />
            {% endif %}
            <label for="use_full_home_image">Afficher l'image</label>
          </div>

          <div class="small-12 medium-12 large-11">
            <div id="plupload-full-home-image" class="input-file input-file-asset">
              <input name="admin_theme_settings[assets][full-home.jpg]" type="file"/>
            </div>
          </div>

          <div class="small-12 medium-12 large-11 preview">
            <div class="filelist">
              {{ 'full-home.jpg' | asset_url | image_tag }}
            </div>
          </div>
        </div>

        <div class="small-12 medium-6 large-4 columns">
          <div class="small-12 medium-12 large-11">
            <label for="image-presentation">Image de présentation (jpg)</label>
          </div>

          <div class="small-12 medium-12 large-11">
            {% if theme_settings.use_presentation_image %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[use_presentation_image]" id="use_presentation_image" type="checkbox" value="{{ theme_settings.use_presentation_image }}" data-skin='black-green' checked/>
            {% else %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[use_presentation_image]" id="use_presentation_image" type="checkbox" value="{{ theme_settings.use_presentation_image }}" data-skin='black-green' />
            {% endif %}
            <label for="use_presentation_image">Afficher l'image</label>
          </div>

          <div class="small-12 medium-12 large-11">
            <div id="plupload-image-presentation" class="input-file input-file-asset">
              <input name="admin_theme_settings[assets][presentation.jpg]" type="file"/>
            </div>
          </div>

          <div class="small-12 medium-12 large-11 preview">
            <div class="filelist">
              {{ 'presentation.jpg' | asset_url | image_tag }}
            </div>
          </div>
        </div>

        <div class="small-12 medium-6 large-4 columns end">
          <div class="small-12 medium-12 large-11">
            <label for="image-horaires">Image des horaires (png)</label>
          </div>

          <div class="small-12 medium-12 large-11">
            {% if theme_settings.use_horaires_image %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[use_horaires_image]" id="use_horaires_image" type="checkbox" value="{{ theme_settings.use_horaires_image }}" data-skin='black-green' checked/>
            {% else %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[use_horaires_image]" id="use_horaires_image" type="checkbox" value="{{ theme_settings.use_horaires_image }}" data-skin='black-green' />
            {% endif %}
            <label for="use_horaires_image">Afficher l'image</label>
          </div>

          <div class="small-12 medium-12 large-11">
            <div id="plupload-image-horaires" class="input-file input-file-asset">
              <input name="admin_theme_settings[assets][horaires.png]" type="file"/>
            </div>
          </div>

          <div class="small-12 medium-12 large-11 preview">
            <div class="filelist">
              {{ 'horaires.png' | asset_url | image_tag }}
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Page du restaurant</legend>
        <div class="small-12 medium-6 large-4 columns end">
          <div class="small-12 medium-12 large-11">
            <label for="image-restaurant">Image du restaurant (jpg)</label>
          </div>

          <div class="small-12 medium-12 large-11">
            {% if theme_settings.use_restaurant_image %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[use_restaurant_image]" id="use_restaurant_image" type="checkbox" value="{{ theme_settings.use_restaurant_image }}" data-skin='black-green' checked/>
            {% else %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[use_restaurant_image]" id="use_restaurant_image" type="checkbox" value="{{ theme_settings.use_restaurant_image }}" data-skin='black-green' />
            {% endif %}
            <label for="use_restaurant_image">Afficher l'image</label>
          </div>

          <div class="small-12 medium-12 large-11">
            <div id="plupload-image-restaurant" class="input-file input-file-asset">
              <input name="admin_theme_settings[assets][restaurant.jpg]" type="file"/>
            </div>
          </div>

          <div class="small-12 medium-12 large-11 preview">
            <div class="filelist">
              {{ 'restaurant.jpg' | asset_url | image_tag }}
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="tab-body" id="tab-body-4">
      <fieldset>
        <legend>Communication</legend>
        <div class="small-12 medium-6 large-6 columns">
          {% if theme_settings.footer_display_newsletter %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[footer_display_newsletter]" id="footer_display_newsletter" type="checkbox" value="{{ theme_settings.footer_display_newsletter }}" data-skin='black-green' checked/>
          {% else %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[footer_display_newsletter]" id="footer_display_newsletter" type="checkbox" value="{{ theme_settings.footer_display_newsletter }}" data-skin='black-green' />
          {% endif %}
          <label style="margin-right:.5em;" for="footer_display_newsletter">Afficher la newsletter</label>
        </div>

        <div class="small-12 medium-6 large-6 columns end">
          {% if theme_settings.display_contact_form %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[display_contact_form]" id="display_contact_form" type="checkbox" value="{{ theme_settings.display_contact_form }}" data-skin='black-green' checked/>
          {% else %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[display_contact_form]" id="display_contact_form" type="checkbox" value="{{ theme_settings.display_contact_form }}" data-skin='black-green' />
          {% endif %}
          <label style="margin-right:.5em;" for="display_contact_form">Afficher le formulaire de contact</label>
        </div>
        <div class="small-12 medium-6 large-6 columns">
          {% if theme_settings.home_display_news %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[home_display_news]" id="home_display_news" type="checkbox" value="{{ theme_settings.home_display_news }}" data-skin='black-green' checked/>
          {% else %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[home_display_news]" id="home_display_news" type="checkbox" value="{{ theme_settings.home_display_news }}" data-skin='black-green' />
          {% endif %}
          <label style="margin-right:.5em;" for="home_display_news">Afficher les dernières actualités sur la page d'accueil</label>
        </div>

        <div class="small-12 medium-6 large-6 columns">
          {% if theme_settings.restaurant_display_news %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[restaurant_display_news]" id="restaurant_display_news" type="checkbox" value="{{ theme_settings.restaurant_display_news }}" data-skin='black-green' checked/>
          {% else %}
            <input class="icheck-me boolean-icheck" name="admin_theme_settings[restaurant_display_news]" id="restaurant_display_news" type="checkbox" value="{{ theme_settings.restaurant_display_news }}" data-skin='black-green' />
          {% endif %}
          <label style="margin-right:.5em;" for="restaurant_display_news">Afficher les dernières actualités sur la page restaurant</label>
        </div>
      </fieldset>

      <fieldset>
        <legend>Carte Google</legend>
        <div class="small-12 medium-6 large-6 columns">
          <input class="icheck-me boolean-icheck" name="admin_theme_settings[google_map_type]" id="radio_google_none" type="radio" value="" data-skin='black-green' {% if theme_settings.google_map_type == "" %}checked{% endif %}/>
          <label style="margin-right:.5em;" for="radio_google_none">Ne pas afficher la carte</label>
          <input class="icheck-me boolean-icheck" name="admin_theme_settings[google_map_type]" id="radio_google_map_image" type="radio" value="image" data-skin='black-green' {% if theme_settings.google_map_type == "image" %}checked{% endif %}/>
          <label style="margin-right:.5em;" for="radio_google_map_image">Afficher la carte sous forme d'image</label>
          <input class="icheck-me boolean-icheck" name="admin_theme_settings[google_map_type]" id="radio_google_map_embed" type="radio" value="embed" data-skin='black-green' {% if theme_settings.google_map_type == "embed" %}checked{% endif %}/>
          <label style="margin-right:.5em;" for="radio_google_map_embed">Afficher la carte interactive</label>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          Visite virtuelle
          <a class="small dropdown" data-options="align:top" data-dropdown="informations-link" style="display:inline;width:25px;text-align:center;">
            &nbsp<i class="fa fa-info"></i>&nbsp
          </a>
          <div class="f-dropdown content info" id="informations-link" data-dropdown-content="">
            <p>
              Où trouver vos informations ? <a target="blank" href='https://www.google.com/maps?output=classic'>google.com/maps?output=classic</a>
            </p>
            <img src="/assets/business-view-info.jpg">
          </div>
        </legend>
        <div class="small-12 medium-6 large-6 columns end">
          <div class="row">
            {% if theme_settings.display_google_business_view_embed %}
              <input class="icheck-me boolean-icheck" name="admin_theme_settings[display_google_business_view_embed]" id="display_google_business_view_embed" type="checkbox" value="{{ theme_settings.display_google_business_view_embed }}" data-skin='black-green' checked/>
            {% else %}
              <input class="icheck-me boolean-icheck" name="admin_theme_settings[display_google_business_view_embed]" id="display_google_business_view_embed" type="checkbox" value="{{ theme_settings.display_google_business_view_embed }}" data-skin='black-green' />
            {% endif %}
            <label style="margin-right:.5em;" for="display_google_business_view_embed">Afficher la visite virtuelle</label>
          </div>

          <div class="row">
            <label class="left" for="google_business_view_embed">Code HTML</label>
            <input name="admin_theme_settings[google_business_view_embed]" type="text" id="google_business_view_embed" value="{{ theme_settings.google_business_view_embed | escape_once }}" />
          </div>
        </div>

        <div class="small-12 medium-6 large-6 columns">
          <div class="row">
            {% if theme_settings.display_google_business_view_url %}
              <input class="icheck-me boolean-icheck" name="admin_theme_settings[display_google_business_view_url]" id="display_google_business_view_url" type="checkbox" value="{{ theme_settings.display_google_business_view_url }}" data-skin='black-green' checked/>
            {% else %}
              <input class="icheck-me boolean-icheck" name="admin_theme_settings[display_google_business_view_url]" id="display_google_business_view_url" type="checkbox" value="{{ theme_settings.display_google_business_view_url }}" data-skin='black-green' />
            {% endif %}
            <label style="margin-right:.5em;" for="display_google_business_view_url">Afficher le lien</label>
          </div>

          <div class="row">
            <label class="left" for="google_business_view_url">Url</label>
            <input name="admin_theme_settings[google_business_view_url]" type="text" id="google_business_view_url" value="{{ theme_settings.google_business_view_url }}" />
          </div>
        </div>
      </fieldset>
    </div>
    <div class="tab-body" id="tab-body-5">
      <fieldset>
        <legend>Page d'accueil</legend>
        <div class="row">
          <div class="columns medium-4 large-3">

            <label for="home-menus-featured-text-fr">Titre menus en avant (fr)</label>
            <input name="admin_theme_settings[home_menus_featured_text_fr]" id="home_menus_featured_text_fr" value="{{ theme_settings.home_menus_featured_text_fr }}" type="text">

            <label for="home-menus-featured-text_en">Titre menus en avant (en)</label>
            <input name="admin_theme_settings[home_menus_featured_text_en]" id="home_menus_featured_text_en" value="{{ theme_settings.home_menus_featured_text_en }}" type="text">

          </div>
          <div class="columns medium-4 large-3 end">

            <label for="home-foods-featured-text-fr">Titre plats en avant (fr)</label>
            <input name="admin_theme_settings[home_foods_featured_text_fr]" id="home_foods_featured_text_fr" value="{{ theme_settings.home_foods_featured_text_fr }}" type="text">

             <label for="home-foods-featured-text_en">Titre plats en avant (en)</label>
            <input name="admin_theme_settings[home_foods_featured_text_en]" id="home_foods_featured_text_en" value="{{ theme_settings.home_foods_featured_text_en }}" type="text">

          </div>

          <div class="columns medium-4 large-3 end">

            <label for="home-foods-featured-subtext-fr">Sous-titre plats en avant (fr)</label>
            <input name="admin_theme_settings[home_foods_featured_subtext_fr]" id="home_foods_featured_subtext_fr" value="{{ theme_settings.home_foods_featured_subtext_fr }}" type="text">

             <label for="home-foods-featured-subtext-en">Sous-titre plats en avant (en)</label>
            <input name="admin_theme_settings[home_foods_featured_subtext_en]" id="home_foods_featured_subtext_en" value="{{ theme_settings.home_foods_featured_subtext_en }}" type="text">

          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
