<!doctype html>
<html lang="{{ current_locale }}">
  <head>
    <meta charset="utf-8" />
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width,minimum-scale=1.0,maximum-scale=10.0,initial-scale=1.0' id='viewport' name='viewport'>
    {% title_tag %}
    {% meta_description_tag %}
    <meta content='' name='description'>
    {{ 'app.css' | asset_url | stylesheet_tag }}

    <script src="https://cdn.polyfill.io/v1/polyfill.min.js"></script>

    {% if theme_settings.google-fonts-link %}
      {{ theme_settings.google-fonts-link | replace:'http:','https:' }}
    {% endif %}

    {{ restaurant.host | canonical_tag }}
    <meta name="google-site-verification" content="">

    <link rel="apple-touch-icon-precomposed" href="/assets/full-visual-theme/images/favicon-152.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/assets/full-visual-theme/images/favicon-144.png">

  </head>

  <body itemscope="" itemtype="http://schema.org/Restaurant" class="{% if current_paths contains localized_root_path %}body{% endif %}">
      <header id="top">
        <nav class="head__nav" role="navigation">
          {% include 'nav' %}
        </nav>
      </header>
          {{ content_for_layout }}
      <footer class="footer__infos" role="contentinfo">
            {% include 'footer' %}
      </footer>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      {{ 'script.js' | asset_url | javascript_tag }}
      {{ 'animatescroll.min.js' | asset_url | javascript_tag }}
      {{ 'doubletaptogo.min.js' | javascript_tag }}
      <script type="text/javascript">
        $( function() {
          $( '.has-sub-nav' ).doubleTapToGo();
        });
      </script>
  </body>
</html>
