<div class="full-background">
      {% if current_tenant.slogan? %}
        <div class="slogan">
          <h1 class="slogan__slogan">{{ current_tenant.slogan }}</h1>
        </div>
      {% endif %}
</div>

<section class="news">
  <article class="week">
    {% if featured_menus.size > 0 %}
      {% if featured_foods.size == 0 %}
        <section>
      {% else %}
        <section>
      {% endif %}
        <header>
          <h2 class="week__title">{{ "Cette semaine" | t }}</h2>
        </header>
      
        {% for menu in featured_menus %}
          <div class="grid--full">
            <header>
              <h3 class="week__resume">{{ menu.name }}</h3>
            </header>
            {% if menu.summary? %}
              <div class="week__details">{{ menu.summary }}</div>
            {% endif %}
            {% for food in menu.foods %}
              {% assign_prices prices for food in menu %}
              {% include 'food' with food:food %}
            {% endfor %}
          </div>
        {% endfor %}
      </section>
    {% endif %}
  </article>
  
  <article class="new-dish grid--full">
    {% if featured_foods.size > 0 %}
      {% if featured_menus.size == 0 %}
        <section>
      {% else %}
        <section>
      {% endif %}
        <header>
          <h2 class="new-dish__title">{{ "Plats de la semaine" | t }}</h2>
        </header>
        <header>
          <h3 class="new-dish__resume">{{ "Nouveaux plats" | t }}</h3>
        </header>
        <div class="new-dish__details">{{ "Venez découvrir nos derniers plats." | t }}</div>
        {% for food in featured_foods %}
          {% include 'food' with food:food %}
        {% endfor %}
      </section>
    {% endif %}
  </article>
  <footer class="news-footer">
      <a class="btn" href="{{ current_tenant.menus_path }}">
        {{ "Voir toute la carte" | t }}
      </a>
  </footer>
</section>

<section class="presentation">
    {% if current_tenant.summary? %}
      <section class="home-description grid--full">
        <header>
          <h2 class="home-description__title">{{ "Notre restaurant" | t }}</h2>
        </header>
        {% if current_tenant.summary? %}
          <div class="home-description__summary small--one-whole large--one-half">
            {{ current_tenant.summary }}
          </div>
        {% endif %}
        <footer class="presentation-footer">
          <a class="btn" href="{{ current_tenant.menus_path }}">
            {{ "Voir toute la carte" | t }}
          </a>
        </footer>
      </section>
    {% endif %}
</section>

<aside class="opening-hours">
  <div class="hours">
    <header>
      <h2 class="hours__title">{{ "Horaires" | t }}</h2>
    </header>
    <table>
      <tbody>
        {% for day in days %}
          <tr class="hours__day day-{{ day.number }} {% cycle 'even', 'odd' %}">
            <th class="hours__day-name">{{ day.name }}</th>
            <td class="hours__day-shifts">
              {{ day.shifts }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <footer>
      {% if current_tenant.opening_hours_information? %}
        <div class="hours__information">
          {{ current_tenant.opening_hours_information }}
        </div>
      {% endif %}
    </footer>
  </div>
</aside>

<aside id="directions" class="directions">
  <a class="directions__map-link" href="{{ current_tenant.google_maps_url }}">
    <img src="{{ current_tenant | static_map_url: '600x300' }}" class="directions__map-image" />
  </a>
  <div class="infos-local">
    {% if current_tenant.street_address? || current_tenant.zip_code? || current_tenant.city? %}
      <p>
        <span class="infos-local__address">
          {% if current_tenant.street_address? %}
            {{ current_tenant.street_address }}
            <br />
          {% endif %}
          {% if current_tenant.zip_code? %} {{ current_tenant.zip_code }} {% endif %}
          {% if current_tenant.city? %} <strong>{{ current_tenant.city }}</strong> {% endif %}
        </span>
      </p>
    {% endif %}
    <footer class="directions-footer btn_itineraire">
      <a href="{{ current_tenant.google_maps_url }}" class="btn">
        {{ "Voir l'itinéraire" | t }}
      </a>
    </footer>
  </div>
</aside>