<section class="full-background">
    <div class="full-background__image">
    </div>
    {% if restaurant.slogan? %}
    <div class="slogan-wrapper">
        <h1 class="slogan">{{ restaurant.slogan }}</h1>
          {% if restaurant.phone? %}
            <a class="home-number" href="tel:{{ restaurant.phone_uri }}">
              {{ restaurant.phone }}
            </a>
          {% endif %}
        </div>
    {% endif %}
</section>

<section class="news">
  <article class="week">
    {% if home_menus.size > 0 %}
        <section>
        <header>
          <h2 class="week__title">{% if current_locale == 'fr' %}{{ theme_settings.home_menus_featured_text_fr | t }}{% else %}{{ theme_settings.home_menus_featured_text_en | t }}{% endif %}</h2>
        </header>
      
        {% for menu in home_menus %}
          <div>
            <header>
              <h3 class="week__resume">{{ menu.name }}</h3>
            </header>
            {% if menu.summary? %}
              <div class="week__details">{{ menu.summary }}</div>
            {% endif %}
            <ul class="block-grid">
            {% for food in menu.foods %}
              {% assign_prices_to prices for food in menu %}
              {% include 'food' with food:food %}
            {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </section>
    {% endif %}
  </article>
  
  <article class="new-dish">
    {% if home_foods.size > 0 %}
        <section>
        <header>
          <h2 class="new-dish__title">{% if current_locale == 'fr' %}{{ theme_settings.home_foods_featured_text_fr | t }}{% else %}{{ theme_settings.home_foods_featured_text_en | t }}{% endif %}</h2>
        </header>
        <header>
          <h3 class="new-dish__resume">{% if current_locale == 'fr' %}{{ theme_settings.home_foods_featured_subtext_fr | t }}{% else %}{{ theme_settings.home_foods_featured_subtext_en | t }}{% endif %}</h3>
        </header>
        <ul class="block-grid">
        {% for food in home_foods %}
          {% include 'food' with food:food %}
        {% endfor %}
        </ul>
      </section>
    {% endif %}
  </article>
  <footer class="news-footer">
      <a class="btn news-footer__btn" href="{{ restaurant.menus_path }}">
        {{ "Voir toute la carte" | t }}
      </a>
  </footer>
</section>

<section class="presentation">
    {% if restaurant.summary? %}
      <section class="home-description">
        <header>
          <h2 class="home-description__title">{{ "Notre restaurant" | t }}</h2>
        </header>
        {% if restaurant.summary? %}
          <div class="home-description__summary small--one-whole large--one-half">
            {{ restaurant.summary }}
          </div>
        {% endif %}
      </section>
    {% endif %}
    <footer class="presentation-footer">
      <a class="btn presentation-footer__btn" href="{{ restaurant.menus_path }}">
        {{ "Voir toute la carte" | t }}
      </a>
    </footer>
</section>

<aside class="opening-hours">
  <div class="hours">
    <header>
      <h2 class="hours__title">{{ "Horaires" | t }}</h2>
    </header>
    <table>
      <tbody class="hours__table">
        {% for day in opening_hours %}
          <tr class="hours__day day-{{ day.number }} {% cycle 'even', 'odd' %}">
            <th class="hours__day-name">{{ day.name }}</th>
            <td class="hours__day-shifts">
              {{ day.shifts }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <footer>
      {% if restaurant.opening_hours_information? %}
        <div class="hours__information">
          {{ restaurant.opening_hours_information }}
        </div>
      {% endif %}
    </footer>
  </div>
</aside>

{% if theme_settings.google_map_type != "" %}
  <aside id="directions" class="directions">
    {% if theme_settings.google_map_type == "embed" %}
      {% google_map_embed: "size:100%x320" %}
    {% elsif theme_settings.google_map_type == "image" %}
      <a class="directions__map-link" href="{% google_map_url %}">
        <img class="directions__map-image" src="{% google_map_image_url: "size:640x320" %}" />
      </a>
    {% endif %}
    <footer class="directions-footer">
      <a href="{% google_map_url %}" class="btn directions-footer__btn">
        {{ "Voir l'itinéraire" | t }}
      </a>
    </footer>
  </aside>
{% endif %}
