{% if menu.children? %}
  <div class="margin"></div>

  {% if restaurant.phone? %}
    <a class="menus-number" href="tel:{{ restaurant.phone_uri }}">
      {{ restaurant.phone }}
    </a>
  {% endif %}

  <ol class="menus-nav">
    {% for child in menu.children %}
      <li class="menus-nav__item">
        <a onclick="$('#menu-{{child.id}}').animatescroll();" class="menus-nav__link">
          {% if child.main_image? %}
            <div class="menus-nav__image" style="background-image: url('{{ child.main_image | small_image_url }}');background-size: cover;"></div>
          {% else %}
            <div class="menus-nav__image"></div>
          {% endif %}
          <h4 class="menus-nav__title">
            {{ child.name }}
          </h4>
        </a>
      </li>
    {% endfor %}
  </ol>
  {% for child in menu.children %}
    <div class="menus-food__content">
    {% include 'menu' with menu:child, title:true %}
    </div>
  {% endfor %}

{% else %}
  <div class="menus-food__content">
    {% include 'menu' with menu:menu, title:false %}
  </div>
{% endif %}
